*{
	color: #844004;
	padding: 0;
	margin: 0 auto;
}
body{
	font-size: 12px;
	color: #522a06;
	background: url(images/bodybg.gif) repeat-x;
}
span{
	float: right;
}
li{
	line-height: 30px;
	list-style: none;
}
img{
	border: 0;
}
p{
	line-height: 23px;
}
a{
	color: #522a06;
	font-size: 12px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#header{
	height: 205px;
}
#header1{
	background: url(images/bg2.jpg) no-repeat center;
	height: 165px;
}
#logo{
	width: 1000px;
}
#header2{
	background: rgb(92,62,38);
	height: 40px;
}
#nav{
	width: 1000px;
}
#content{
	height: 40px;
	width: 780px;
	float: left;
}
#content>ul>li{
	list-style: none;
}
#content>ul>li>a{
	margin-right: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	display: block;
	float: left;
	line-height: 40px;	
}
#content>ul>li>a:hover{
	color: #f9f603;
	text-decoration: none;
}
#search{
	width: 200px;
	height: 40px;
	float: left;
}
#search>input{
	margin-top:8px; 
}
#center{
	width: 1000px;
	margin: 5px auto;
	clear: right left;
}
#center1{
	overflow: hidden;
	width:1000px;
}
#l1{
	width: 324px;
	height: 243px;
	background: url(images/news_bg.png);
	float: left;
}
#c1{
	width: 348px;
	height: 240px;
	margin-left: 20px;
	float: left;
	border: 1px solid rgb(120,81,47);
}
#c1>ul{
	margin-left: 10px;
}
#c1>ul>li{
	line-height: 30px;
}
#r1{
	width: 290px;
	float: right;
}
#r11{
	height: 210px;
	width: 290px;
	background: url(images/board_bg.png);
}
#r11>ul{
	margin-left: 17px;
}
#r11>ul>li{
	line-height: 30px;
}
#center2{
	width: 700px;
	float: left;
}
#zhengming{
	width: 323px;
	margin-top: 10px;
	float: left;
	border: 1px solid rgb(120,81,47);
}
#zhengming>ul{
	margin-left: 10px;
}
#xinwen{
	width: 347px;
	margin-left: 20px;
	margin-top: 10px;
	float: left;
	border: 1px solid rgb(120,81,47);
}
#xinwen>ul{
	margin-left: 10px;
}
#fengcai{
	width: 692px;
	clear: left right;
	float: left;
	margin-top: 10px;
}
#zuopin{
	background: url(images/fengcai_bg2.png) no-repeat;
	height: 150px;
	width: 100%;
	margin-left: 9px;
	padding: 15px;
}
#zuopin>ul>li{
	display: block;
	float: left;
	margin-right: 10px;
}
#zuopin>ul>li>a>img{
	border: 1px solid white;
}
#center3{
	width: 290px;
	margin-top: 10px;
	margin-left: 10px;
	float: right;
}
#mingren{
	background: url(images/show_bg.png) no-repeat;
	height:320px;
	padding:20px;
	margin-top: 10px;
	margin-left: 7px;
}
#footer{
	background: url(images/foot.gif) no-repeat center;
	height: 130px;
	clear: both;
}
#connect{
	width: 570px;
	height:40px;
	margin: 10px auto;
}
#connect>ul>li{
	display: block;
	float: left;
	margin:0 15px;
	margin-top: 25px;
	line-height: 20px;
}
#connect>ul>li>a{
	font-weight: bolder;
	font-size: 15px;
}