*{
	color: #844004;
	padding: 0;
	margin: 0 auto;
}
body{
	font-size: 12px;
	color: #522a06;
	background: url(images/bodybg.gif) repeat-x;
}
span{
	float: right;
}
li{
	line-height: 30px;
	list-style: none;
}
img{
	border: 0;
}
p{
	line-height: 23px;
}
a{
	color: #522a06;
	font-size: 12px;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#header{
	height: 205px;
}
#header1{
	background: url(images/bg.gif) center;
	height: 165px;
}
#logo{
	width: 1000px;
}
#header2{
	background: url(images/nav.jpg);
	height: 40px;
}
#nav{
	width: 1000px;
}
#content{
	height: 40px;
	width: 780px;
	float: left;
}
#content>ul>li>a{
	margin-right: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	display: block;
	float: left;
	line-height: 40px;	
}
#content>ul>li>a:hover{
	color: #f9f603;
	text-decoration: none;
}
#search{
	width: 200px;
	height: 40px;
	float: left;
}
#search>input{
	margin-top:8px; 
}
#center{
	width: 1000px;
	margin: 5px auto;
	overflow: hidden;
}
#navbar{
	height: 40px;
	padding-left: 43px;
	font-size: 14px;
}
#navbar>p>a{
	font-size: 14px;
}
#left{
	width: 230px;
	float: left;
}
#top{
	background: url(images/bg.png);
	border: 1px solid #c9baa5;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#top>ul>li>a{
	display: block;
	width: 120px;
	height: 29px;
	font-size: 14px;
	padding-left: 35px;
	font-weight: bolder;
}
#top>ul>li>a:hover{
	text-decoration: none;
	background: url(images/menubg.gif) no-repeat;
}
#middle{
	background: url(images/bg.png);
	border: 1px solid #c9baa5;
	margin-bottom: 10px;
}
#middle>ul{
	display: block;
	width: 90px;
	margin-bottom: 5px;
}
#middle>ul>li>a{
	font-size: 14px;
	font-weight: bolder;
}
#right{
	width: 760px;
	float: right;
}
#up{
	background: url(images/listtitle.png);
}
#up>p{
	margin-left: 50px;
	line-height: 45px;
	font-size: 20px;
	font-weight: bolder;
	color: rgb(161,44,31);
}
#list>ul>li{
	border-bottom:1px solid rgb(192,182,164); 
	list-style: disc;
	margin-left: 20px;
	font-size: 14px;
}
#list>ul>li>a{
	font-size: 14px;
	font-weight: bold;
}
#down{
	width: 430px;
	margin-top: 15px;
}
#down>ul>li>a{
	display:block;
	float: left;
	border: 1px solid #c9baa5;
	font-size: 14px;
	line-height: normal;
	margin-right: 5px;
	padding: 2px 10px;
}
#down>ul>li>a:hover{
	text-decoration: none;
	background: #c9baa5;
}
#footer{
	background: url(images/foot.gif) no-repeat center;
	height: 130px;
	clear: both;
}
#connect{
	width: 570px;
	height:30px;
	margin: 10px auto;
}
#connect>ul>li{
	display: block;
	float: left;
	margin:0 15px;
	margin-top: 10px;
	line-height: 20px;
}
#connect>ul>li>a{
	font-weight: bolder;
	font-size: 15px;
}